node_modules
.idea/workspace.xml

.idea/.name

.idea/Effective-Developer-Series-Intermediate-JavaScript.iml

.idea/jsLibraryMappings.xml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/libraries/Effective_Developer_Series_Intermediate_JavaScript_node_modules.xml